apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      name: backend-pod
      labels:
        app: backend-app
    spec:
      containers:
      - name: backend-container
        image: <sample>:latest
        ports:
        - containerPort: 80